<div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse navbar-collapse-centered" id="bs">
    <ul class="nav navbar-nav navbar-nav-centered">
        {% if user %}
        <a href="/form" class="btn btn-primary">Go to Form</a>
        <a href="/user_forms" class="btn btn-primary">view my forms status</a>

        {% endif %} 
        <li class="nav-item dropdown">
            <div class="dropdown-menu custom-dropdown-menu">
                <div class="dropdown-items-holder">
                    <div class="items-with-icon">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a href="wordpresshosting.html" class="link-with-icon">
                                    <span class="icon"><img src="images/server4.svg" alt=""></span>
                                    <span class="text">Wordpress Hosting</span>
                                </a>
                                <a href="dedicatedhosting.html" class="link-with-icon">
                                    <span class="icon"><img src="images/server5.svg" alt=""></span>
                                    <span class="text">Dedicated Hosting</span>
                                </a>
                                <a href="domains.html" class="link-with-icon">
                                    <span class="icon"><img src="images/server6.svg" alt=""></span>
                                    <span class="text">Domain Names</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="link">Hustbee Features</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="link">Website builder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
         {% if user['role'] == 'admin' %}
           <a href="/admin_review" class="btn btn-info">Admin Review</a>
           <a href="/submitted_forms" class="btn btn-info">View Submitted Forms</a>
           <a href="/download_pdf" class="btn btn-info">Download PDF</a>
           <a href="/search" class="btn btn-info">Search</a>


         {% elif user['role'] == 'manager' %}
          <a href="/manager_review" class="btn btn-info">Manager Review</a>
          <a href="/download_pdf" class="btn btn-info">Download PDF</a>
         <a href="/search" class="btn btn-info">Search</a>
          {% endif %}
          
       
        <li class="nav-item dropdown">
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="about.html">About</a></li>
                <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                <li><a class="dropdown-item" href="privacy.html">Privacy</a></li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right other-navbar">
        <li class="nav-item">
            {% if user %}
            <a class="nav-link btn-client-area" href="{{ url_for('logout') }}"><img src="images/lock.svg" alt="">Logout</a>
            {% else %}
            <a class="nav-link btn-client-area" href="{{ url_for('login') }}"><img src="images/lock.svg" alt="">login</a>
            {% endif %}

            {% if user %}
            <h5 style="font-size: 1.5em; color: #333; font-weight: bold; 
            background-color: #f0f8ff; padding: 10px 15px; 
            border-radius: 8px; display: inline-block; 
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);">
     Hi, {{ user['username'] }}!
 </h5>
 
                {% if verification_message %}
                <p class="alert alert-info">{{ verification_message }}</p>
                {% endif %}
            {% endif %}
            
        </li>
        
    </ul>
</div>